.grid-square {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    &__col {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;

        padding: 10px;
    }
    &__item {
        position: relative;
        background-color: #ebeef3;
        overflow: hidden;
        border-radius: 5px;
        display: block;

        background-image: url(../img/metal/cuprum.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        color: #fff;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.35);
        }
        &:hover {
            .grid-square__title {
                color: $accent-red;
            }
            .grid-square__icon {
                display: block;
            }
        }
    }
    &__number {
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: bold;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        text-align: center;
        border-radius: 2px;
        overflow: hidden;
        width: 28px;
        height: 28px;
        border: 1px solid #ffffff;
    }
    &__icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
    }
    &__description {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}

.grid-rectangle {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
    }
    &__col {
        flex: 0 0 33.33%;
        max-width: 33.33%;

        padding: 10px;
    }
    &__icon {
        display: none;
        margin-left: auto;
    }
    &__item {
        
        border-radius: 5px;
        display: flex;
        padding: 25px 20px;

        &:hover {
            background: #ebeef3;
            .grid-rectangle__title {
                color: $accent-red;
            }
            .grid-rectangle__icon {
                display: block;
            }
        }
    }
}

@media (max-width: 992px) {
    .grid-square {
        &__col {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}

@media (max-width: 767px) {
    .grid-square {
        &__col {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .grid-rectangle {
        &__col {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media (max-width: 420px) {
    .metal-grid {
        &__col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
