*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $base-font;
  font-style: normal;
}

body {
  position: relative;
  font-family: $base-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $black;

  // background-color: #c6c6c6;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-bold {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.overflow-h {
  overflow: hidden !important;
}
.text-link {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  &:hover {
    color: $accent-red;
  }
}
.text-link_red {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: $accent-red;
  &:hover {
    color: $black;
  }
}
.h-100p {
  height: 100%;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-45 {
  margin-top: 45px;
}

.mb-auto {
  margin-bottom: auto;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}

.mw-110 {
  max-width: 110px;
}

// Padding
.padding-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-double-top {
  padding-top: 80px;
}

.padding-double-bottom {
  padding-bottom: 80px;
}

// Color
.color-white {
  color: #fff;
}

.color-gray {
  color: $gray;
}

.color-red {
  color: $accent-red;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-direction-column {
  flex-direction: column;
}

.container-wrapper {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.page-wrapper {
  padding-top: 100px;
}

.content-wrap {
  max-width: 765px;
}
//Socials
.social {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    border: 1px solid #ffffff1a;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      svg {
        fill: $accent-red;
      }
    }
  }
}

//Button
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  &:hover {
    text-decoration: none;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: none;
  }
}

.btn_dark {
  color: #ffffff;
  background: $accent-black;
  &:hover {
    color: #ffffff;
    background: #192032;
  }
  &:active {
    color: #ffffff;
    background: $accent-black;
  }
}

.btn_accent {
  background: $accent-red;
  &:hover {
    background: #e14604;
  }
  &:active {
    background: $accent-red;
  }
}

.btn_light_border {
  padding: 15px 20px;
  border: 1px solid #a2a6ab;
  background: #fff;
  color: $black;
  &:hover {
    border: 1px solid $black;
  }
  &:active {
    border: 1px solid #a2a6ab;
    background: #a2a6ab;
  }
}
//Hexagon
.hexagon {
  width: 105px;
  height: 114px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  &__content {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  &__svg {
    position: absolute;
    bottom: 0;
    width: 105px;
    height: 114px;
    svg {
      width: 100%;
      height: auto;
      stroke: $gray;
    }
  }
  &_white {
    .hexagon__svg {
      svg {
        stroke: #fff;
      }
    }
  }
}

.daterangepicker .ranges li.active {
  background-color: $accent-red;
}

//Custom select
.selectize-input {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding: 0;
  padding-right: 15px;
  padding-left: 0;
  border: none;
  width: 180px;
  cursor: pointer;
  &.full {
    background-color: transparent;
    box-shadow: none;
  }
  input {
    display: none !important;
  }
}

.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: transparent;
  box-shadow: none;
}

.selectize-control.single .selectize-input:after {
  margin: 0;
  border-width: 6px 5px 0 5px;
  right: 5px;
  top: 45%;
  border-color: $black transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  right: 5px;
  top: 50%;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent $black transparent;
}
.selectize-input.dropdown-active::before {
  display: none;
}
.selectize-dropdown {
  border: none;
  width: auto;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  .option {
    cursor: pointer;
    color: $gray;
    padding: 5px 10px;
    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
    &:hover {
      color: $accent-red;
    }
  }
}

//Accordeon
.accordeon {
  &-wrapper {
    &.active .accordeon-tab:after {
      transform: translateY(-70%) rotate(-225deg);
      transition: all 0.3s ease;
    }
  }
  &-tab {
    padding: 20px 12px;
    border-radius: 3px 3px 0 0;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      right: 30px;
      top: 50%;
      transform: translateY(-70%) rotate(-45deg);
      border-bottom: 2px solid $black;
      border-left: 2px solid $black;
      transition: all 0.3s ease;
    }
  }
  &-content {
    display: none;
  }
}

.transactions {
  &-head {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-sort__daterange {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .daterange-input {
      border-radius: 3px;
      border: none;
      outline: none;
      min-width: 170px;
      padding: 6px 0;
      background: #f4f7fa;
      color: $accent-red;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-decoration: underline;
      cursor: pointer;
      text-align: center;
      &__label {
        cursor: pointer;
        margin-right: 10px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      &::placeholder {
        text-align: center;
      }
    }
    &:hover .daterange-input {
      text-decoration: none;
    }
  }
}

//====== simple select
.select {
  position: relative;
  &__label {
    display: block;
    font-weight: 700;
    color: $accent-red;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    margin-right: 5px;
  }
  &__header {
    display: flex;

    &:hover .select__label {
      text-decoration: underline;
    }
  }
  &__current {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $black;
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 3px;
      border: 5px solid transparent;
      border-top: 5px solid $black;
      margin-left: 5px;
      transition: all 0.3s ease;
    }
  }
  &__arrow {
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 3px;
      width: 20px;
      height: 12px;
      right: 10px;
      // background: url('../img/icons/select-arrow.svg') center center no-repeat;
      background-size: 70%;
      transition: all 0.3s ease;
    }
  }
  &__body {
    position: absolute;
    display: inline-block;
    width: 100%;
    min-width: 210px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-top: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: -1;
  }
  &__item-search {
    padding: 5px 0;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease;
    &:first-child {
      padding-top: 0;
    }
    &:hover {
      transition: all 0.3s ease;
      color: $black;
    }
  }
  &__item {
    text-align: left;
    opacity: 0.7;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  &.is-active {
    .select__body {
      top: 100%;
      right: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
      z-index: 100;
    }
    .select__current::after {
      transform: translateY(-5px) rotate(180deg);
      transition: all 0.3s ease;
    }
    .select__arrow::after {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 767px) {
  .page-wrapper {
    padding-top: 85px;
  }
}
