*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $base-font;
  font-style: normal;
}

body {
  position: relative;
  font-family: $base-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $black;

  // background-color: #c6c6c6;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-bold {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.overflow-h {
  overflow: hidden !important;
}
.text-link {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  &:hover {
    color: $accent-red;
  }
}
.text-link_red {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: $accent-red;
  &:hover {
    color: $black;
  }
}
.h-100p {
  height: 100%;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-45 {
  margin-top: 45px;
}

.mb-auto {
  margin-bottom: auto;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}

.mw-110{
  max-width: 110px;
}

// Padding
.padding-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-double-top {
  padding-top: 80px;
}

.padding-double-bottom {
  padding-bottom: 80px;
}

// Color
.color-white {
  color: #fff;
}

.color-gray {
  color: $gray;
}

.color-red {
  color: $accent-red;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-direction-column {
  flex-direction: column;
}

.container-wrapper {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.page-wrapper {
  padding-top: 100px;
}

.content-wrap {
  max-width: 765px;
}
//Socials
.social {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    border: 1px solid #ffffff1a;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      svg {
        fill: $accent-red;
      }
    }
  }
}

//Button
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  &:hover {
    text-decoration: none;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: none;
  }
}

.btn_dark {
  color: #ffffff;
  background: $accent-black;
  &:hover {
    color: #ffffff;
    background: #192032;
  }
  &:active {
    color: #ffffff;
    background: $accent-black;
  }
}

.btn_accent {
  background: $accent-red;
  &:hover {
    background: #e14604;
  }
  &:active {
    background: $accent-red;
  }
}

.btn_light_border {
  padding: 15px 20px;
  border: 1px solid #a2a6ab;
  background: #fff;
  color: $black;
  &:hover {
    border: 1px solid $black;
  }
  &:active {
    border: 1px solid #a2a6ab;
    background: #a2a6ab;
  }
}
//Hexagon
.hexagon {
  width: 105px;
  height: 114px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  &__content {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  &__svg {
    position: absolute;
    bottom: 0;
    width: 105px;
    height: 114px;
    svg {
      width: 100%;
      height: auto;
      stroke: $gray;
    }
  }
  &_white {
    .hexagon__svg {
      svg {
        stroke: #fff;
      }
    }
  }
}

//Custom select
.selectize-input {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding: 0;
  padding-right: 15px;
  padding-left: 0;
  border: none;
  width: 180px;
  cursor: pointer;
  &.full {
    background-color: transparent;
    box-shadow: none;
  }
  input {
    display: none !important;
  }
}

.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: transparent;
  box-shadow: none;
}

.selectize-control.single .selectize-input:after {
  margin: 0;
  border-width: 6px 5px 0 5px;
  right: 5px;
  top: 45%;
  border-color: $black transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  right: 5px;
  top: 50%;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent $black transparent;
}
.selectize-input.dropdown-active::before {
  display: none;
}
.selectize-dropdown {
  border: none;
  width: auto;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  .option {
    cursor: pointer;
    color: $gray;
    padding: 5px 10px;
    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
    &:hover {
      color: $accent-red;
    }
  }
}
