.footer {
    background-color: $accent-black;
    &__body {
        padding: 50px 70px;
        padding-bottom: 0;
    }
    &__phone {
        font-family: "RobotoCondensed";
        font-weight: bold;
        font-size: 54px;
        line-height: 63px;
        color: #fff;
        text-align: right;
        display: block;
        margin-bottom: 50px;
    }
    &__contacts {
        margin-top: 50px;
    }
    &__title {
        font-family: "RobotoCondensed";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        color: $gray;
        margin-bottom: 20px;
    }
    &__mail {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
    }
    &__menu {
        &_1 {
        }
        &_2 {
        }
        &_3 {
            margin-top: 50px;
            text-align: right;
        }
        &-list {
            li {
                margin-bottom: 10px;
            }
            a {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: $gray;
                border-bottom: solid 2px;
                &:hover {
                    text-decoration: none;
                    color: $accent-red;
                }
            }
        }
    }
    &__copy {
        margin-top: 50px;
        border-top: 1px solid #ffffff1a;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        letter-spacing: 0.04em;
        padding: 30px 0;
    }
}

@media (max-width: 1200px) {
    .footer {
        &__body {
            padding: 50px 20px;
            padding-bottom: 0;
        }
        .social__list {
            justify-content: flex-end;
        }
        &__contacts {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 767.98px) {
    .footer {
        &__phone {
            font-size: 36px;
            line-height: 42px;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__phone {
            margin-top: 30px;
            text-align: left;
        }
        .social__list {
            justify-content: flex-start;
        }
        &__menu_3 {
            text-align: left;
        }
    }
}
