@media (max-width: 1200px) {
    .container-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 992px) {
 
}

@media (max-width: 767px) {
 
}

@media (max-width: 540px) {
  
}
@media (max-width: 360px) {
 
}

@media (max-width: 340px) {
  
}
