.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
}

.primary-title {
    font-family: "RobotoCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.h1 {
}

.h3 {
}

.h4 {
}

.h2,
h2 {
}

.h3,
h3 {
}

.h4,
h4 {
}

.h5,
h5 {
}

.h6,
h6 {
}

p,
.p,
.typo-regular {
}

a {
}
