/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: pointer;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*************** SIMPLE SCROLLBAR ***************/
.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-wrapper > .scroll-element div {
  display: block;
  height: 100%;
  right: 0;
  top: 0;
  width: 4px;
}

.scroll-wrapper > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.scroll-wrapper > .scroll-element.scroll-y {
  height: 100%;
  right: 3px;
  top: 0;
  width: 4px;
}

.scroll-wrapper > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-wrapper > .scroll-element .scroll-element_outer,
.scroll-wrapper > .scroll-element .scroll-element_track,
.scroll-wrapper > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-wrapper > .scroll-element .scroll-element_track {
  background-color: transparent;
}

.scroll-wrapper > .scroll-element .scroll-bar {
  background-color: #EBEEF3;
  width: 4px;
}

.scroll-wrapper > .scroll-element:hover .scroll-bar {
  background-color: #919191;
}

.scroll-wrapper > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

/* SFProDisplay-regular - latin_cyrillic */
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* SFProDisplay-500 - latin_cyrillic */
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* SFProDisplay-700 - latin_cyrillic */
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* RobotoCondensed-700 - latin_cyrillic */
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea {
  border-radius: 0;
}

input::-ms-clear {
  width: 0;
}

button {
  cursor: pointer;
}

.primary-title {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.primary-title.h3 {
  font-size: 22px;
  line-height: 26px;
}

.big-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.small-text {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "SFProDisplay", sans-serif;
  font-style: normal;
}

body {
  position: relative;
  font-family: "SFProDisplay", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.overflow-h {
  overflow: hidden !important;
}

.text-link {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
}

.text-link:hover {
  color: #ea591a;
}

.text-link_red {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #ea591a;
}

.text-link_red:hover {
  color: #333;
}

.h-100p {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.padding-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-double-top {
  padding-top: 80px;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #a2a6ab;
}

.color-red {
  color: #ea591a;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.container-wrapper {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.page-wrapper {
  padding-top: 100px;
}

.content-wrap {
  max-width: 765px;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  border: 1px solid #ffffff1a;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social__link:hover svg {
  fill: #ea591a;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn_dark {
  color: #ffffff;
  background: #0e1320;
}

.btn_dark:hover {
  color: #ffffff;
  background: #192032;
}

.btn_dark:active {
  color: #ffffff;
  background: #0e1320;
}

.btn_accent {
  background: #ea591a;
}

.btn_accent:hover {
  background: #e14604;
}

.btn_accent:active {
  background: #ea591a;
}

.btn_light_border {
  padding: 15px 20px;
  border: 1px solid #a2a6ab;
  background: #fff;
  color: #333;
}

.btn_light_border:hover {
  border: 1px solid #333;
}

.btn_light_border:active {
  border: 1px solid #a2a6ab;
  background: #a2a6ab;
}

.hexagon {
  width: 105px;
  height: 114px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon__content {
  font-family: 'RobotoCondensed';
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}

.hexagon__svg {
  position: absolute;
  bottom: 0;
  width: 105px;
  height: 114px;
}

.hexagon__svg svg {
  width: 100%;
  height: auto;
  stroke: #a2a6ab;
}

.hexagon_white .hexagon__svg svg {
  stroke: #fff;
}

.selectize-input {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding: 0;
  padding-right: 15px;
  padding-left: 0;
  border: none;
  width: 180px;
  cursor: pointer;
}

.selectize-input.full {
  background-color: transparent;
  box-shadow: none;
}

.selectize-input input {
  display: none !important;
}

.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: transparent;
  box-shadow: none;
}

.selectize-control.single .selectize-input:after {
  margin: 0;
  border-width: 6px 5px 0 5px;
  right: 5px;
  top: 45%;
  border-color: #333 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after {
  right: 5px;
  top: 50%;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #333 transparent;
}

.selectize-input.dropdown-active::before {
  display: none;
}

.selectize-dropdown {
  border: none;
  width: auto;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.selectize-dropdown .option {
  cursor: pointer;
  color: #a2a6ab;
  padding: 5px 10px;
}

.selectize-dropdown .option:first-child {
  padding-top: 10px;
}

.selectize-dropdown .option:last-child {
  padding-bottom: 10px;
}

.selectize-dropdown .option:hover {
  color: #ea591a;
}

.main-form__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.main-form__input {
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: none;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.main-form__input:focus, .main-form__input:hover, .main-form__input:active {
  outline: none;
  border: 1px solid #ea591a;
  transition: all 0.3s ease;
}

.main-form__label {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.main-form__phone {
  max-width: 200px;
}

.main-form__input-wrapp {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
  max-width: 200px;
}

.main-form__input-wrapp.error .main-form__input {
  border: 1px solid #ea591a;
  transition: all 0.3s ease;
  color: #ea591a;
}

.main-form__input-wrapp.error .main-form__label-error {
  display: block;
}

.main-form__input-wrapp.error:before {
  content: '';
  top: 28px;
  right: 20px;
  transform: rotate(45deg);
  position: absolute;
  height: 2px;
  width: 15px;
  background: #ea591a;
  transition: 0.25s ease-in-out;
  z-index: 10;
}

.main-form__input-wrapp.error:after {
  content: '';
  top: 28px;
  right: 20px;
  transform: rotate(-45deg);
  position: absolute;
  height: 2px;
  width: 15px;
  background: #ea591a;
  transition: 0.25s ease-in-out;
  z-index: 10;
}

.main-form__input-wrapp.done .main-form__input {
  border: 1px solid #ea591a;
  transition: all 0.3s ease;
}

.main-form__input-wrapp.done:after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 20px;
  bottom: 24px;
  width: 8px;
  height: 13px;
  border: solid #0e1320;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main-form__label-error {
  display: none;
  position: absolute;
  left: 1px;
  bottom: 0;
  transform: translateY(105%);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #ea591a;
}

.main-form__policy {
  display: flex;
  align-items: center;
}

.main-form__checkbox {
  display: none;
}

.main-form__checkbox:checked + .main-form__checkbox-box {
  background-color: #ea591a;
  border: 1px solid #ea591a;
}

.main-form__checkbox:checked + .main-form__checkbox-box::before {
  opacity: 1;
}

.main-form__checkbox-box {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.main-form__checkbox-box::before {
  opacity: 0;
  content: '';
  position: absolute;
  display: inline-block;
  left: 8px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main-form__submit {
  padding: 21px;
}

.main-form__radio-group .main-form__radio-input[type='radio'] {
  display: none;
}

.main-form__radio-group .main-form__radio-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  position: relative;
  display: inline-block;
  margin-right: 50px;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
}

.main-form__radio-group .main-form__radio-label::before,
.main-form__radio-group .main-form__radio-label::after {
  position: absolute;
  content: '';
  top: 50%;
  border-radius: 100%;
  transition: all 0.2s;
}

.main-form__radio-group .main-form__radio-label::before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0e1320;
}

.main-form__radio-group .main-form__radio-label::after {
  opacity: 0;
  left: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 6px solid #0e1320;
  transform: scale(1.5);
}

.main-form__radio-group .main-form__radio-input[type='radio']:checked + .main-form__radio-label::before {
  border: 2px solid #0e1320;
}

.main-form__radio-group .main-form__radio-input[type='radio']:checked + .main-form__radio-label::after {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 420px) {
  .main-form__input-wrapp {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .main-form__phone {
    max-width: 100%;
    width: 100%;
  }
  .main-form__wrapper {
    display: block;
  }
  .main-form__submit {
    padding: 21px;
    width: 100%;
    max-width: 100%;
  }
}

.calculator {
  padding: 50px;
  background: #ebeef3;
  border-radius: 10px;
  display: flex;
}

.calculator__head {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.calculator__wrap {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

.calculator__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__total-price {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.select-metal {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #a2a6ab4d;
}

.select-metal__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.select-metal__price {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.select-metal__img {
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
}

.calculator-range {
  display: flex;
  justify-content: space-between;
}

.calculator-range__item {
  flex: 0 0 45%;
  max-width: 45%;
  width: 45%;
}

.calculator-range__label {
  font-family: "RobotoCondensed";
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.custom-range.ui-widget.ui-widget-content {
  border: none;
  background: #a2a6ab4d;
  height: 2px;
  display: block;
}

.custom-range.ui-widget.ui-widget-content .ui-slider-range-min {
  height: 100%;
  background-color: #333;
}

.custom-range.ui-widget.ui-widget-content .ui-slider-handle {
  height: 18px;
  width: 18px;
  background-color: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  top: -7px;
  margin-left: -8px;
}

@media (max-width: 992px) {
  .calculator {
    display: block;
  }
  .calculator__head {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .calculator__wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .calculator-range {
    display: block;
  }
  .calculator-range__item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .calculator-range__item:first-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .calculator {
    padding: 30px;
  }
  .calculator__bottom {
    display: block;
  }
  .calculator__submit {
    margin-top: 30px;
  }
  .select-metal__price {
    display: none;
  }
}

.grid-square {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.grid-square__col {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 10px;
}

.grid-square__item {
  position: relative;
  background-color: #ebeef3;
  overflow: hidden;
  border-radius: 5px;
  display: block;
  background-image: url(../img/metal/cuprum.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.grid-square__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.grid-square__item:hover .grid-square__title {
  color: #ea591a;
}

.grid-square__item:hover .grid-square__icon {
  display: block;
}

.grid-square__number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  text-align: center;
  border-radius: 2px;
  overflow: hidden;
  width: 28px;
  height: 28px;
  border: 1px solid #ffffff;
}

.grid-square__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.grid-square__description {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.grid-square__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 5px;
}

.grid-square__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.grid-rectangle {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.grid-rectangle__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.grid-rectangle__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a2a6ab;
}

.grid-rectangle__col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.grid-rectangle__icon {
  display: none;
  margin-left: auto;
}

.grid-rectangle__item {
  border-radius: 5px;
  display: flex;
  padding: 25px 20px;
}

.grid-rectangle__item:hover {
  background: #ebeef3;
}

.grid-rectangle__item:hover .grid-rectangle__title {
  color: #ea591a;
}

.grid-rectangle__item:hover .grid-rectangle__icon {
  display: block;
}

@media (max-width: 992px) {
  .grid-square__col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 767px) {
  .grid-square__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-rectangle__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 420px) {
  .metal-grid__col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.main_front-page {
  padding-top: 180px;
  position: relative;
  min-height: 760px;
  background-image: url(../img/bg/front-page-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_front-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.main-title {
  font-family: "RobotoCondensed";
  color: #fff;
  font-weight: bold;
  font-size: 82px;
  line-height: 96px;
  text-transform: uppercase;
}

.main-phone {
  bottom: 50px;
  position: absolute;
}

.main-phone__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  opacity: 0.7;
}

.main-phone__number {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.main__wrap {
  display: flex;
}

.popular-metal {
  width: 100%;
  max-width: 420px;
  margin-left: auto;
}

.popular-metal__head {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #fff;
}

.popular-metal__wrap {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  margin-bottom: 30px;
}

.popular-metal__item {
  position: relative;
  padding: 15px 0;
  color: #fff;
  display: block;
}

.popular-metal__item:hover .popular-metal__title {
  color: #ea591a;
}

.popular-metal__item:hover .popular-metal__icon {
  display: block;
}

.popular-metal__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
}

.popular-metal__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.popular-metal__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
}

.popular-metal__icon {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
}

@media (max-width: 992px) {
  .popular-metal {
    display: none;
  }
}

@media (max-width: 540px) {
  .main_front-page {
    padding-top: 170px;
    min-height: 650px;
  }
  .main-phone {
    display: none;
  }
  .main-title {
    font-size: 54px;
    line-height: 63px;
  }
}

.user-body {
  width: 100%;
  max-width: 430px;
}

.user-info__wrapp {
  display: flex;
  align-items: center;
}

.user-photo {
  position: relative;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  display: block;
  background: url(../img/icons/user-icon.svg) center center no-repeat;
  background-color: #0e1320;
  overflow: hidden;
}

.user-photo img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.user-btn {
  align-self: center;
}

.user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.profile {
  background: #f8f8f8;
}

.profile-body {
  display: flex;
}

.profile-tabs {
  width: 100%;
  max-width: 430px;
}

.profile-tab {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #a2a6ab;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  cursor: pointer;
}

.profile-tab.active {
  transition: all 0.3s ease;
  color: #ea591a;
}

.profile-tab:hover {
  transition: all 0.3s ease;
  color: #ea591a;
}

.profile-tabs__content {
  width: 100%;
  max-width: 640px;
}

.profile-info__block-wrapper {
  margin-bottom: 80px;
}

.profile-info__block-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebeef3;
}

.profile-info__block-row {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebeef3;
}

.profile-info__block-col-1 {
  font-size: 16px;
  line-height: 22px;
  color: #a2a6ab;
}

.profile-info__block-col-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333;
}

.profile-form__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.profile-form__row:last-child {
  margin-bottom: 0;
}

.profile-form .profile-info__block-row {
  flex-direction: column;
}

.profile-form .main-form__label {
  min-width: 150px;
}

.profile-form .main-form__phone {
  max-width: 100%;
}

.profile-form .main-form__input-wrapp {
  max-width: 100%;
  margin-right: 0;
}

.profile-form .main-form__input-wrapp._phone {
  max-width: 250px;
}

.profile-blocks-js {
  position: relative;
  overflow: hidden;
}

.edit-form-js,
.completed-form-js {
  position: absolute;
  top: 0;
  left: 1000px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s, opacity 2.8s;
}

.edit-form-js.active,
.completed-form-js.active {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: all 0.5s, opacity 0.8s;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__wrapp {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}

.header__col-mid {
  display: flex;
}

.header__mob-phone {
  display: none;
}

.header__address {
  margin-right: 60px;
}

.header__address-link {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-bottom: solid 2px;
  color: #333;
  margin-bottom: 10px;
}

.header__address-link:hover {
  text-decoration: none;
  color: #ea591a;
}

.header__logo img {
  max-width: 100%;
}

.header__address-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333;
  opacity: 0.7;
  margin: 0;
}

.header .logo_white {
  display: none;
}

.header_white .logo {
  display: none;
}

.header_white .logo_white {
  display: block;
}

.header_white .header-menu a {
  color: #fff;
}

.header_white .header-burger span {
  background: #fff;
}

.header_white .header__address-link {
  color: #fff;
}

.header_white .header__address-text {
  color: #fff;
}

.header-menu__list {
  display: flex;
  align-items: center;
}

.header-menu__list li {
  margin-right: 40px;
}

.header-menu__list li:last-child {
  margin-right: 0;
}

.header-menu__list a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-bottom: solid 2px;
}

.header-menu__list a:hover {
  text-decoration: none;
  color: #ea591a;
}

.header-menu__list .current_page_item a,
.header-menu__list .current_menu_item a {
  color: #ea591a;
}

.header-menu__head {
  display: none;
}

.header-menu__bottom {
  display: none;
}

.header-burger {
  display: none;
  width: 34px;
  height: 12px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.header-burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #333;
  opacity: 1;
  right: 0;
  transition: 0.25s ease-in-out;
}

.header-burger span:nth-child(1) {
  top: 0;
}

.header-burger span:nth-child(2) {
  bottom: 0;
  max-width: 60%;
}

.header-burger.active {
  width: 24px;
}

.header-burger.active span {
  background-color: #333;
}

.header-burger.active span:nth-child(1) {
  top: inherit;
  bottom: 0;
  transform: rotate(135deg);
}

.header-burger.active span:nth-child(2) {
  bottom: 0;
  transform: rotate(-135deg);
  max-width: 100%;
}

@media (max-width: 1200px) {
  .header-burger {
    display: block;
  }
  .header__wrapp {
    padding: 20px;
  }
  .header__address {
    margin: auto;
  }
  .header__login {
    display: none;
  }
  .header-menu__wrapp {
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 30px 20px;
    width: 100%;
    overflow: auto;
    background: #fff;
    z-index: -1;
    transform: translateX(-1000%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-menu__wrapp.active {
    z-index: 1000;
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .header-menu__head {
    display: block;
  }
  .header-menu__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu__phone {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  .header-menu__title {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
  }
  .header-menu__address {
    display: none;
  }
  .header-menu__list {
    display: block;
    text-align: center;
  }
  .header-menu__list li {
    margin: auto;
    margin-bottom: 20px;
  }
  .header_white .header-menu a {
    color: #333;
  }
}

@media (max-width: 540px) {
  .header__wrapp {
    align-items: center;
  }
  .header__logo {
    max-width: 155px;
  }
  .header__address {
    display: none;
  }
  .header_white .header__mob-phone svg {
    fill: #fff;
  }
  .header__mob-phone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ebeef3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-menu__title {
    display: none;
  }
  .header-menu__address {
    display: block;
  }
  .header-menu__bottom {
    flex-direction: column;
  }
  .header-menu__phone {
    margin-bottom: 30px;
  }
  .header_white .header__address-link {
    color: #333;
  }
  .header_white .header__address-text {
    color: #333;
  }
}

.footer {
  background-color: #0e1320;
}

.footer__body {
  padding: 50px 70px;
  padding-bottom: 0;
}

.footer__phone {
  font-family: "RobotoCondensed";
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  color: #fff;
  text-align: right;
  display: block;
  margin-bottom: 50px;
}

.footer__contacts {
  margin-top: 50px;
}

.footer__title {
  font-family: "RobotoCondensed";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #a2a6ab;
  margin-bottom: 20px;
}

.footer__mail {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.footer__menu_3 {
  margin-top: 50px;
  text-align: right;
}

.footer__menu-list li {
  margin-bottom: 10px;
}

.footer__menu-list a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #a2a6ab;
  border-bottom: solid 2px;
}

.footer__menu-list a:hover {
  text-decoration: none;
  color: #ea591a;
}

.footer__copy {
  margin-top: 50px;
  border-top: 1px solid #ffffff1a;
  font-size: 14px;
  line-height: 17px;
  color: #a2a6ab;
  letter-spacing: 0.04em;
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .footer__body {
    padding: 50px 20px;
    padding-bottom: 0;
  }
  .footer .social__list {
    justify-content: flex-end;
  }
  .footer__contacts {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .footer__phone {
    margin-bottom: 25px;
  }
}

@media (max-width: 767.98px) {
  .footer__phone {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 576px) {
  .footer__phone {
    margin-top: 30px;
    text-align: left;
  }
  .footer .social__list {
    justify-content: flex-start;
  }
  .footer__menu_3 {
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .container-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */